<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>IFALTOU</title>
        <link rel="shortcut icon" href="Imagens/jiji-cat-favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" type="text/css" href="../ifaltou/templates/css/styles.css">
    </head>
    <body>
        <header>
            <div>
               <p>Studio Ghibli — 1985-2022<br>Oscar de Melhor Filme de Animação 2003 - " A Viagem de Chihiro"</p>
            </div>
        </header>


    </body>

</html>